body{
    overflow: hidden;
}
.shadowContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: visible;
    transition: all 2s;
}
.shadowContainer img{
    width: 30%;
    border-radius: 24px 0;
    box-shadow: 0 0 12px var(--shadowCcc);
    margin: 1.5%;
    border-bottom: 4px solid rgba(0, 0, 0, .6);
    border-right: 4px solid rgba(0, 0, 0, .6);
    transition: all .4s;
    cursor: pointer;
}
.shadowContainer img:hover{
    transition: all .4s;
    transform: scale(1.05);
    border-bottom: 4px solid rgba(0, 0, 0, 1);
    border-right: 4px solid rgba(0, 0, 0, 1);
}
.topH2{
    margin-bottom: 1em;
}
.moveLeft{
    transform: translateX(-40%);
    transition: all 2s;
}
.moveRight{
    transform: translateX(40%);
    transition: all 2s;  
}
.moveCenter{
    transform: translateX(0%);
    transition: all 2s;
}